.mb-container {
    padding: 40px 60px;
    font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.mb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.mb-header h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
}

.mb-header p {
    margin: 6px 0 0;
    color: #6b7280;
    font-size: 15px;
}

.mb-generate-btn {
    background: #2563eb;
    color: white;
    padding: 10px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
}

.mb-generate-btn:hover {
    background: #1e40af;
}
/* TABLE */
.mb-table {
    width: 100%;
    border-collapse: collapse;
}
.mb-table th {
    text-align: left;
    padding: 14px 4px;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid #e5e7eb;
}
.mb-table td {
    padding: 15px;
}
.mb-table tbody tr {
    border-bottom: 1px solid #e5e7eb; /* 1 đường dài đều */
}
.mb-table thead tr {
    border-bottom: 1px solid #e5e7eb;
}
/* CARD WRAPPER AROUND TABLE */
.mb-card {
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 16px;
    padding: 22px 30px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 2px 6px rgba(15,23,42,0.06);
    margin-top: 10px;
}

/* VIEW BUTTON */
.mb-view-btn {
    padding: 6px 14px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    text-decoration: none;
    font-size: 13px;
    color: #111827;
    background: #f9fafb;
}

.mb-view-btn:hover {
    background: #e5e7eb;
}

.action-buttons {
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.mb-delete-btn{
    gap: 4px;
    padding: 4px 10px;
    font-size: 12px;
    text-decoration: none;
    background-color: red;
    color: #f9fafb;
    border: 1px solid  #d43f3f;
    border-radius: 5px;
}

.mb-edit-btn{
    gap: 4px;
    padding: 4px 10px;
    font-size: 12px;
    text-decoration: none;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid  #dcdcdc;
    border-radius: 5px;
}

/* EMPTY */
.mb-empty {
    text-align: center;
    padding: 20px;
    color: #9ca3af;
}

